order-process-xjc/src/main/resources/schema/customerOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Dec 16 2017 19:17:15 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="customerOrder">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="customer">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="name" type="xs:string"></xs:element>
                                             <xs:element name="productId" type="xs:string"></xs:element>
                                             <xs:element name="contactNo" type="xs:string"></xs:element>
                                             <xs:element name="emailId" type="xs:string"></xs:element>
                                             <xs:element name="address">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="type" type="xs:string"></xs:element>
                                                               <xs:element name="street" type="xs:string"></xs:element>
                                                               <xs:element name="city" type="xs:string"></xs:element>
                                                               <xs:element name="state" type="xs:string"></xs:element>
                                                               <xs:element name="pincode" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="orderdate" type="xs:string"></xs:element>
                           <xs:element name="expedite" type="xs:string"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>